x-tab section {
    width: 40em;
}

body {
    padding:100px;
}
x-tab ul {
    height:45px;
    padding: 0 0 0 0;
    margin-bottom: 0;
    overflow:visible;
    cursor: default;
}

x-tab .tab {
    width:200px;
    height:45px;
    overflow:hidden;
    float:left;
    margin: 0 -20px -3px -4px;
}

x-tab .tab-cont {
    height:50px;
    background: #fff;
    border-radius: 4px;
    border:1px solid #ccc;
    margin:0 10px 0;
    box-shadow: 0 0 2px  #fff inset;
    padding-top: 1em;
    text-align: center;
    overflow: hidden;

    -webkit-transform: perspective(100px) rotateX(30deg);
    -moz-transform: perspective(100px) rotateX(30deg);

}

x-tab > ul > li.newTab > div.tab-cont-new {
    background-color: #f0f0f0;
}

x-tab > ul > li.newTab > div.tab-cont-new > input {
    margin-top: -20px;
    display: block;
    width: 30px;
    height: 20px;
    opacity: 0;
    overflow: hidden;
}

x-tab > ul > li.newTab > div.tab-cont-new:hover {
    background-color: #f8f8f8;
}

x-tab .newTab {
    width:50px;
    height:45px;
    overflow:hidden;
    float:left;
    margin: 0;
}

x-tab .tab-cont-new {
    width: 1.8em;
    height: 20px;
    background: #fff;
    border-radius: 4px;
    border:1px solid #ccc;
    margin: 15px 15px 0;
    box-shadow: 0 0 2px  #fff inset;
    padding-top: 0.2em;
    text-align: center;

    transform: skew(20deg);
}

x-tab .tab.active {
    z-index:40;
    position:relative;
    padding-bottom:1px;
}

x-tab .tab.active .tab-cont{
    background-color: #eee;
    @include background-image(linear-gradient(top, #ccc , #ddd 3%, rgba(#eee, 0.5)  ));
    box-shadow: 0 0 2px 0 #fff inset;
}

x-tab > section {
    position:relative;
    /*width: 33.5em;*/
    height: 10em;
    z-index:1;
    padding: 6em;
    border:1px solid #ccc;
    border-top-color: transparent;
    background:#eee;
    overflow: auto;
}

x-tab > ul > li > div > .close:hover {
    border-radius: 10em;
    color: white;
    background-color: red;
}